body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar styles */
.navbar {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: all 0.3s ease-in-out;
}

.navbar .logo h3 {
    color: #000;
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-item {
    margin-left: 20px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

/* Hero styles */
.hero {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.hero-content {
    max-width: 600px;
    text-align: left;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.hero-content h2 span {
    color: #007bff;
}

.social-links {
    display: flex;
    margin-top: 20px;
}

.social-links a {
    margin-right: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.hero-image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.hero-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: center bottom;
    transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
    transform: rotate(-10deg);
}

/* 
About */
.about {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.about-content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #333;
}

/* project */
.projects {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

.projects h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #333;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.project-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.project-info p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 15px;
}

.project-links {
    display: flex;
    justify-content: center;
}

.project-links a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #007bff;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.project-links a:hover {
    color: #0056b3;
}

/* contact  */
.contact {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #333;
}

.contact p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 10px;
}

.contact p a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.contact p a:hover {
    color: #0056b3;
}


/* footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-size: 1.4rem;
    margin: 0;
}

.footer p a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer p a:hover {
    color: #007bff;
}